* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
header {
  background-image: url(../img/header5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 30%;
  width: 100%;
  height: 500px;
}
ul.menu li {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff41;
}
ul.menu li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  display: block;
}
ul.menu li a:hover {
  color: gray;
}
html {
  background-color: #3c3c3c;
}
